<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="CONTENT-TYPE" content="text/html; charset=utf-8" />
    <!--Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <title>ファイルアップロード</title>
  </head>
  <body>
    <h1>ファイルをアップロード</h1>
    <form id="form" method="POST" enctype="multipart/form-data" name="name_form" action="/file_upload/response/">
      {% csrf_token %}
      {{ form.as_p }}
      <!--<input class="btn" type="submit" value="アップロード">-->
      <button type="submit">アップロード</button>
    </form>
    <!--<form name="name_form" action="/file_upload/ajax/" method="POST">-->
    <!--   <form name="name_form" action="/test_ajax_app/" method="POST"> -->
    <!--  {% csrf_token %}-->
    <!--  <input type="text" id="id_input_text" name="name_input_text" value="999.99">-->
    <!--  <input class="btn" type="submit">-->
    <!--</form>-->
    <span id="id_div_ajax_response">
      {{ error }}
      <img src="{{ sample.url }}">
      <p>↑テストで飛ばしたやつ</p>
      <img id="img">
      <!--AJAX RESPONSE {{ hoge }} <img src="/{{ form.url }}" style="width:300px;height:auto">-->
    </span>
    <hr />
    May/31/2021<p />
    <!--JavaScript部分 -->
    <script>
    // <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    // formのsubmitイベントをここで処理。
    $("form").submit( function(event) {
      // ここ↓で、デフォルトのform操作を一時的に防止しているらしい
      event.preventDefault();
      var form = $(this);
      //↓ここでajaxの設定を行っている
      $.ajax({
        url: form.prop("action"),
        method: form.prop("method"),
        data: new FormData($("#form").get(0)),
        // data: form.serialize(),
        processData:false, 
        //processDataがtrueだとdataに指定した値を文字列に変換してしまう。デフォルトがtrueなので、画像を送る場合は、falseにする。
        contentType:false,
        beforeSend: function(xhr, settings){
          // beforeSendでリクエストを送る前の処理を記述する。
          //リクエスト送信前の処理
          // ↓CSRF Tokenを設定したり、前の結果を削除したりする部分
          xhr.setRequestHeader("X-CSRFToken", $("input[name='csrfmiddlewaretoken']").val());
          $('#id_div_ajax_response').empty() //前の結果の削除
          $("#img").empty()
        },
      })
      // viewの、id_div_ajax_responseで返す値が、下記の変数dataに格納される。
      .done( function(data){
        alert("done");
        $('#id_div_ajax_response').children('img').attr("src", data);
        //   src:data,
        //   width: "100",
        //   height: "100",
        // });
        // $("#img").show();
        // $("#id_div_ajax_response_text").text(data);
      })
      .fail(function(jqXHR, textStatus, errorThrown){
        //失敗したら、コンソールにログを吐く
        console.log(jqXHR + "\n" + textStatus + "\n" + errorThrown);
      });
    });
    </script>
  </body>
</html>